$primary-color: white;
$bg: black;

* {
  font-family: "JetBrains Mono", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.page-container {
  max-width: 960px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 50px;
}

.snackbar {
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-align: center;
}

h1 {
  text-align: center;
}

.search-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;

  input {
    width: 300px;
  }

  button {
    margin-left: 5px;
    width: 200px;
  }

  margin-bottom: 75px;
}

.emoji-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .emoji-item {
    padding: 5px;
    cursor: pointer;
    img {
      max-width: 50px;
    }
  }
}